<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="chess_robot" params="prefix">


        
        <!-- link1 (base) -->
        <link name="${prefix}base_link1">
            <visual>
                <geometry>
                    <cylinder length="0.01" radius="0.1"/>
                </geometry>
                <material name="blue">
                    <color rgba="0 0 1 1"/>
                </material>
            </visual>
        </link>

        <!-- joint1 -->
        <joint name="motor_joint" type="revolute">
            <parent link="${prefix}base_link1"/>
            <child link="${prefix}base_link2"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <axis xyz="0 0 1"/>
            <limit effort="1.0" velocity="1.0" lower="${-pi}" upper="${pi}"/>
        </joint>

        <!-- link2 (base) -->
        <link name="${prefix}base_link2">
            <visual>
                <origin xyz="0 0 0.04" rpy="0 0 0"/>
                <geometry>
                    <cylinder length="0.01" radius="0.1"/>
                </geometry>
                <material name="red">
                    <color rgba="1 0 0 1"/>
                </material>
            </visual>
            <visual>
                <origin xyz="0 0 0.2" rpy="0 0 0"/>
                <geometry>
                    <box size="0.06 0.06 0.4"/>
                </geometry>
                <material name="green">
                    <color rgba="0 1 0 1"/>
                </material>
            </visual>
        </link>

        <!-- joint2 -->
        <joint name="shoulder_revolute_joint" type="revolute">
            <parent link="${prefix}base_link2"/>
            <child link="${prefix}gear1"/>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
            <axis xyz="1 0 0"/>
            <limit effort="1.0" velocity="1.0" lower="${-2*pi}" upper="0"/>
        </joint>
        <joint name="shoulder_slide_joint" type="prismatic">
            <parent link="${prefix}base_link2"/>
            <child link="${prefix}arm_link1"/>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
            <axis xyz="0 0 1"/>
            <limit effort="1.0" velocity="1.0" lower="${-pi/2}" upper="${pi/2}"/>

            <mimic joint="shoulder_revolute_joint" multiplier="0.02" offset="0"/>
        </joint>
        
        <!-- gear1 -->
        <link name="${prefix}gear1">
            <visual>
                <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
                <geometry>
                    <cylinder length="0.02" radius="0.02"/>
                </geometry>
                <material name="yellow">
                    <color rgba="1 1 0 1"/>
                </material>
            </visual>
        </link> 
        <!-- link3 (arm_link1) -->
        <link name="${prefix}arm_link1">
            <visual>
                <origin xyz="0 0.1 0" rpy="0 0 0"/>
                <geometry>  
                    <box size="0.05 0.2 0.05"/>
                </geometry>
                <material name="cyan">
                    <color rgba="0 1 1 1"/>
                </material> 
            </visual>
        </link>

        <!-- joint3 -->
        <joint name="arm_joint" type="revolute">
            <parent link="${prefix}arm_link1"/>
            <child link="${prefix}arm_link2"/>
            <origin xyz="0 0.2 0" rpy="0 0 0"/>
            <axis xyz="0 0 1"/>
            <limit effort="1.0" velocity="1.0" lower="${-pi}" upper="${pi}"/>
        </joint>

        <!-- link4 (arm_link2) -->
        <link name="${prefix}arm_link2">
            <visual>
                <origin xyz="0 0.1 0" rpy="0 0 0"/>
                <geometry>  
                    <box size="0.05 0.2 0.05"/>
                </geometry>
                <material name="magenta">
                    <color rgba="1 0 1 1"/>
                </material> 
            </visual>
        </link>

        <!-- joint4 -->
        <joint name="hand_revolute_joint" type="revolute">
            <parent link="${prefix}arm_link2"/>
            <child link="${prefix}gear2"/>
            <origin xyz="0 0.2 0" rpy="0 0 0"/>
            <axis xyz="1 0 0"/>
            <limit effort="1.0" velocity="1.0" lower="${-2*pi}" upper="0"/>
        </joint>
        <joint name="hand_slide_joint" type="prismatic">
            <parent link="${prefix}arm_link2"/>
            <child link="${prefix}hand_link1"/>
            <origin xyz="0 0.2 0" rpy="0 0 0"/>
            <axis xyz="0 0 1"/>
            <limit effort="1.0" velocity="1.0" lower="${-pi/2}" upper="${pi/2}"/>

            <mimic joint="hand_revolute_joint" multiplier="0.02" offset="0"/>
        </joint>

        <!-- gear2-->
        <link name="${prefix}gear2">
            <visual>
                <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
                <geometry>
                    <cylinder length="0.02" radius="0.02"/>
                </geometry>
                <material name="yellow">
                    <color rgba="1 1 0 1"/>
                </material>
            </visual>
        </link> 
        <!-- link5 (hand_link1) -->
        <link name="${prefix}hand_link1">
            <visual>
                <origin xyz="0 0 0.05" rpy="0 0 0"/>
                <geometry>  
                    <box size="0.02 0.02 0.1"/>
                </geometry>
                <material name="white">
                    <color rgba="1 1 1 1"/>
                </material> 
            </visual>
        </link>


    </xacro:macro>
</robot>
